<!DOCTYPE html>
<html ng-app="store">
<head>
	  <!--  <link href="/style/bootstrap.css" media="screen" rel="stylesheet" type="text/css"> -->
	  <link href="/style/bootstrap.css" media="screen" rel="stylesheet" type="text/css">
	
</head>
<body ng-controller="StoreController as store">

<ul class="list-group">
	<li class="list-group-item" ng-repeat="product in store.products">
		<h3>{{product.name}}
		<em class="pull-right">{{product.price | currency}}</em></h3>



	</li>
<!-- 	<div ng-repeat="product in store.products">
		<h1>{{product.name}}</h1>
		<h2>${{product.price}}</h2>
		<p>{{product.description}}</p>
		<button ng-show="product.canPurchase">Add to Cart</button>
	</div> -->
</ul>

  	<!-- <script src="{{ site.baseurl}}/script/angular.min.js"></script> -->
  	<script src="/script/angular.min.js"></script>
    <script src="/script/app.js" media="screen"></script>
</body>
</html> 